{{ define "content" }}

<article class="post">
	{{ $has_image := false }}
	{{ if .Params.image }}
		{{ $has_image = true }}
	{{ end }}
	<div class="post-top py-5">
		<div class="container">
		  <div class="row">
			<div class="col col-6 col-d-12">
			  {{ if $has_image }}
			  <div class="post-image">
				<img alt="{{ $.Params.image_alt }}"  src="{{ $.Params.image | relURL }}">
			  </div>
			  {{end}}
			</div>
		
			<div class="col col-6 col-d-12">
			  <div class="post__info">

				{{ if .Params.categories }}
				{{$Site := .Site}}
				<div class="post-tags">
					{{ range $category_idx, $category := .Params.categories}}
					{{ $category_data := ($Site.GetPage $category).Page }}
						{{ if and $category_data.URL $category_data.Params.title}}
						<a class="post-tags__tag" href="{{ $category_data.URL | relURL }}">{{ $category_data.Params.title }}</a>
						{{ end }}
					{{end}}
					
				</div>
				{{end}}

				<h1 class="post__title">{{ .Params.title }}</h1>
				{{ if .Params.subtitle }}
					<p class="post__subtitle">{{ $.Params.subtitle }}</p>
				{{ end }}
				
				<div class="post__meta">
				{{ $author_data := (.Site.GetPage .Params.author).Page }}
				{{ if .Params.author }}
				  <div class="post__author-image">
					<img alt="{{ $author_data.Params.title }}" src="{{ $author_data.Params.photo | relURL }}">
				  </div>
				{{end}}
	  
				  <div class="post__meta-bottom">
					<div class="post__author">{{ $author_data.Params.title }}</div>
					<span class="article__date"><time datetime="{{ $.Params.date | dateFormat "2006-01-02 15:04" }}">{{ $.Params.date | dateFormat "2 January 2006" }}</time></span>
				  </div>
				</div>
	  
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	<div class="container container--medium">
		<div class="post__body text-block">
			<br />
			{{ .Content }}
			<script>
				$('p img').each(function () {
					$(this).wrap($('<a />', {
						href: $(this).attr('src'),
						'data-fancybox': "1"
					}));
				});
				$('.post__image img').each(function () {
				$(this).wrap($('<a />', {
				href: $(this).attr('src'),
				'data-fancybox': "1"
				}));
				});
			</script>
		</div>
	
		{{ if .Params.tags }}
		<footer class="post__footer mt-4 mt-md-5">
			{{ $include_dict := dict "tags" $.Params.tags "Site" .Site }}
			{{ partial "article_post_tags.html" $include_dict }}
		</footer>
		{{ end }}

		{{ $comment := .Params.show_comment | default true }}
		{{if $comment}}
		<br><br><hr>
		{{ template "_internal/disqus.html" . }}
		{{end}}
	</div>

</article>

{{ end }}
