{{ $section := .article_feed_section }}
{{ $section_author := .section_author }}
{{ $section_category := .section_category }}
{{ $section_tag := .section_tag }}
{{ $post := .post_page }}

{{ if or (or $section_author $section_category) $section_tag }}
{{ if $section_author }}
	{{ if $post.Params.author }}
		{{ $post_author := (.Site.GetPage (printf "/article/authors/%s.md" $post.Params.author)).Page.Params }}
		{{ if eq $post_author.id $section_author.id }}
			{{ $include_dict := dict "article_feed_section" $section "post_page" $post "Site" .Site }}
			{{ partial "article_post_feed_item.html" $include_dict }}
		{{ end }}
	{{ end }}
{{end}}
{{ if $section_category }}
	{{ $pages := where .Site.RegularPages "Params.layout" "term" }}
	{{ range $category := $post.Params.categories }}
	{{range where $pages ".Params.id" $category}}
		{{$post_category := .Params}}
		{{ if eq $post_category.id $section_category.id }}
			{{ $include_dict := dict "article_feed_section" $section "post_page" $post "Site" .Site }}
			{{ partial "article_post_feed_item.html" $include_dict }}
		{{ end }}
	{{ end }}
	{{ end }}
{{end}}
{{ if $section_tag }}
	{{ $pages := where .Site.RegularPages "Params.layout" "term" }}
	{{ range $tag := $post.Params.tags }}
	{{range where $pages ".Params.id" $tag}}
		{{$post_tag := .Params}}
		{{ if eq $post_tag.id $section_tag.id }}
			{{ $include_dict := dict "article_feed_section" $section "post_page" $post "Site" .Site }}
			{{ partial "article_post_feed_item.html" $include_dict }}
		{{ end }}
	{{ end }}
	{{ end }}
{{end}}
{{ else }}
	{{ $include_dict := dict "article_feed_section" $section "post_page" $post "Site" .Site }}
	{{ partial "article_post_feed_item.html" $include_dict }}
{{ end }}
