{{ $author := .author }}
{{$Site := .Site}}
{{ $container_class := .container_class }}
{{ $avatar_size := .avatar_size }}
{{ $author_data := ($Site.GetPage $author).Page }}
<a href="{{ $author_data.URL | relURL }}" class="article__author-image">
	{{ if $author_data.Params.photo }}
	<img src="{{ $author_data.Params.photo | relURL }}" alt="{{ $author_data.Params.photo_alt }}">
	{{ end }}
</a>
<div class="article-info">
	<a href="{{ $author_data.URL | relURL }}" class="article__author-link">{{ $author_data.Params.title }}</a>
	{{ if and .show_date .date}}
	<span class="article__date"><time datetime="{{ .date | dateFormat "2006-01-02 15:04" }}">{{ .date | dateFormat "January 02, 2006" }}</time></span>
	{{end}}
</div>