{{ $post := .post_page }}
{{ $article_feed_section := .article_feed_section }}
{{ $columns := $article_feed_section.article_feed_cols | default "three" }}

{{ $is_card := false }}
{{ if $article_feed_section.enable_cards }}
	{{ $is_card = true }}
{{ end }}

{{ $has_image := false }}
{{ if $post.Params.thumb_image }}
	{{ $has_image = true }}
{{ end }}

{{ $show_image := false }}
{{ if $article_feed_section.show_image }}
	{{ $show_image = true }}
{{ end }}

{{ $no_image := false }}
{{ if or (eq $has_image false) (eq $show_image false) }}
	{{ $no_image = true }}
{{ end }}

{{ $show_categories := false }}
{{ if and $article_feed_section.show_categories $post.Params.categories }}
	{{ $show_categories = true }}
{{ end }}

<div class="article col col-4 col-d-6 col-t-12">
	<div class="article__inner">

	{{ if and $has_image $show_image }}
	  <div class="image-wrap">
		<a class="article__image" href="{{ $post.URL }}">
		  <img alt="{{ $post.Params.thumb_image_alt }}" src="{{ $post.Params.thumb_image | relURL }}">
		</a>
	  </div>
	{{ end }}

	  <div class="article__content">

		{{ if $show_categories }}
			{{ $include_dict := dict "categories" $post.Params.categories "container_class" "item__cat" "Site" .Site}}
			{{ partial "article_post_categories.html" $include_dict }}
		{{ end }}

		<h2 class="article__title">
		  <a href="{{ $post.URL }}">{{ $post.Params.title }}</a>
		</h2>

		{{ if and $article_feed_section.show_excerpt $post.Params.excerpt }}
		<p class="article__excerpt">{{ $post.Params.excerpt }}</p>
		{{ end }}

		
		{{ if or (and $article_feed_section.show_author $post.Params.author) (and $article_feed_section.show_date $post.Params.date) }}
		<div class="article__meta">
			{{ $include_dict := dict "author" $post.Params.author  "Site" .Site "show_date" $article_feed_section.show_date "date" $post.Params.date}}
			{{ partial "article_post_author.html" $include_dict }}
		</div>
		{{end}}

	  </div>

	</div>
  </div>
