{{ $page := $ }}
<ul style="font-family: 'Nunito';" class="nav__list list-reset">
	{{ range .Site.Menus.main }}
	{{ $page_url := trim $page.URL "/" }}
	{{- if .HasChildren }}
	<li class="nav__item dropdown">
		<a href="{{.URL | relURL}}" class="nav__link dropdown-toggle">{{.Name}} <i class="ion ion-ios-arrow-down arrow-down"></i></a>
		<div class="dropdown-menu">
			{{ range .Children }}
			<a href="{{.URL | relURL}}" class="nav__link ">{{.Name}}</a>
			{{end}}
		</div>
	</li>
	{{else}}
	<li class="nav__item">
		{{if .Params.button}}
		<a href="{{.URL | relURL}}" class="nav__link cta-button button button--small nav-left">{{.Name}}</a>
		{{else}}
		<a href="{{.URL | relURL}}" class="{{if eq ($page_url | relURL) (.URL | relURL) }}active-link{{end}} nav__link">{{.Name}}</a>	
		{{end}}
	</li>		
	{{end}}
	{{ end }}

</ul>